/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #4B7796;
    max-width: 1920px;
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
